.text{
    text-align: justify;
}
.Starring{
    display:flex; 
    margin-top:5px;
}
.subtitle{
    padding: 5px;
    border: 1px solid #000;
    margin: 2px;
    background-color: #fff;
    color: #000;
}
.repo_container{
    display: flex;
    cursor: pointer;
    width: 50%;
    padding-top: 20px;
    margin: auto;
  
}

.repo_title{
    font-size: 20px;
    color: grey;
}

.avatar{
    position: relative;
    margin-right: 30px;
}
